{% extends "base.html" %}
{% block content %}
    <font size="6"><div><p><b> Trilateral Research Data </b></p></div></font>
    <div><p><b> </b></p></div>
    <font size="5"><div><p><b> Data Related to Education</b></p></div></font>
<table>
  <tr>
    <th>Data</th>
    <th>Explanation</th>
  </tr>
  <tr>
    <td><a href="LG/EducationEmployeeExpenditure" target="_blank">Education Employee Expenditure</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="LG/EducationHeadCount" target="_blank">EducationHeadCount</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
</table>
    <div><p><b> </b></p></div>
    <font size="5"><div><p><b> Data Related to Health</b></p></div></font>
<table>
  <tr>
    <th>Data</th>
    <th>Explanation</th>
  </tr>
  <tr>
    <td><a href="LG/InfantMortality" target="_blank">Mortality Rate below 1 Year</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="LG/AboveFiveMortality" target="_blank">Mortality Rate Above 5 Year</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="LG/MortalityRatePerson" target="_blank">Mortality Rate</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="LG/PublicHealthOutcomes" target="_blank">Healthy life expectancy at birth</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
</table>
    <div><p><b> </b></p></div>
    <font size="5"><div><p><b> Data Related to Air Quality</b></p></div></font>
<table>
  <tr>
    <th>Data</th>
    <th>Explanation</th>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQualityAllGroupAllYear" target="_blank">Air Quality For All Group</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality1996AllGroup" target="_blank">Air Quality For Year 1996</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality1998AllGroup" target="_blank">Air Quality For Year 1998</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality2000AllGroup" target="_blank">Air Quality For Year 2000</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality2002AllGroup" target="_blank">Air Quality For Year 2002</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality2004AllGroup" target="_blank">Air Quality For Year 2004</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality2006AllGroup" target="_blank">Air Quality For Year 2006</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/AirQuality2008AllGroup" target="_blank">Air Quality For Year 2008</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/IndexHealthAdvice" target="_blank">IndexHealthAdvice</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/MonitoringSites" target="_blank">MonitoringSites</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/MonitoringLocalAuthority" target="_blank">MonitoringLocalAuthority</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/Objective" target="_blank">Objective</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/SpeciesInformation" target="_blank">SpeciesInformation</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
  <tr>
    <td><a href="AirQuality/HourlyMonitoringIndexAllGroup" target="_blank">HourlyMonitoringIndexAllGroup</a> </td>
    <td>Description XXXXXXXXXXXXXXXXXXXXXXX Description</td>
  </tr>
</table>
{% endblock %}
